<div class="frost-navigation">
  <div class="category blue">
        <div class="header">Resources</div>
    {{frost-navigation-route alias="NE inventory" route="demo.resource" svgPath="frost/application"}}
    {{frost-navigation-sub-route alias="Enroll NES" route="demo.resource"}}

    {{frost-navigation-route alias="Equipment" route="demo.resource" svgPath="frost/application"}}
    {{frost-navigation-sub-route alias="Button 2" route="demo.resource"}}
    </div>
  <div class="category green">
        <div class="header">Services</div>
    {{frost-navigation-route alias="Service Inventory" route="demo.resource" svgPath="frost/application"}}
    {{frost-navigation-sub-route alias="Service Button" route="demo.resource"}}

    {{frost-navigation-route alias="Link Inventory" route="demo.resource" svgPath="frost/application"}}
    {{frost-navigation-sub-route alias="Provision Link" route="demo.resource"}}
  </div>
  <div class="category teal">
        <div class="header">Troubleshooting</div>
    {{frost-navigation-route alias="Alarm Browser" route="demo.resource" svgPath="frost/application"}}
  </div>
</div>
