<div class="frost-navigation">
  <div class="category blue">
        <div class="header">Resources</div>
    {{frost-navigation-route alias="NE inventory" route="resource" svgPath="launch/ne-browser"}}
    {{frost-navigation-sub-route alias="Enroll NES" route="resource"}}

    {{frost-navigation-route alias="Equipment" route="resource" svgPath="launch/equipment-browser"}}
    {{frost-navigation-sub-route alias="Button 2" route="resource"}}
    </div>
  <div class="category green">
        <div class="header">Services</div>
    {{frost-navigation-route alias="Service Inventory" route="resource" svgPath="launch/service-browser"}}
    {{frost-navigation-sub-route alias="Service Button" route="resource"}}

    {{frost-navigation-route alias="Link Inventory" route="resource" svgPath="launch/link-browser"}}
    {{frost-navigation-sub-route alias="Provision Link" route="resource"}}
  </div>
  <div class="category teal">
        <div class="header">Troubleshooting</div>
    {{frost-navigation-route alias="Alarm Browser" route="resource" svgPath="launch/alarm"}}
  </div>
</div>