<div class='frost-application-bar'>
  <!-- Logo -->
  {{component logo}}

  {{#each categories as |category index|}}
    {{nav-category
      isVisible=category.isVisible
      icon=category.icon
      name=category.name
      pack=category.pack
      hook=(concat hook '-category-' index)
    }}
  {{/each}}
  <!-- More Content -->
  {{yield}}
  <!-- User Menu -->
  {{component menu}}
</div>
{{to-elsewhere
  named='navigation'
  send=(component 'nav-modal')
}}
