<div class='frost-application-bar'>
  {{! Logo }}
  {{component logo
    hook=(concat hookPrefix '-logo')
    hookQualifiers=hookQualifiers
  }}

  {{#each categories as |category index|}}
    {{nav-category
      hook=(concat hookPrefix '-category')
      hookQualifiers=(extend hookQualifiers categoryIndex=index categoryName=category.name)
      options=category
    }}
  {{else}}
    {{yield to='inverse'}}
  {{/each}}
  {{! More Content }}
  {{yield}}
  {{! User Menu }}
  {{component menu
    hook=(concat hookPrefix '-menu')
    hookQualifiers=hookQualifiers
  }}
</div>
{{#liquid-if activeCategory class='nav-modal-outlet'}}
  {{nav-modal
    hook=(concat hook '-modal')
    hookQualifiers=hookQualifiers
  }}
{{/liquid-if}}
