{{yield}}
<div class='frost-application-bar'>

  <!-- Logo -->
  {{component logo-container}}

  {{#each categories as |category index|}}
    {{#if category.isVisible}}
      {{nav-category
        icon=category.icon
        name=category.name
        pack=category.pack
        hook=(concat hook '-category-' index)
      }}
    {{/if}}
  {{/each}}

  <!-- Actions -->
  {{component actions-container}}

</div>
{{liquid-modal}}
