{{yield}}
<div class='frost-application-bar'>
  {{#yield-slot 'logo'}}
    {{yield}}
  {{/yield-slot}}
  {{#each categories as |category|}}
    {{#if category.isVisible}}
      {{nav-category
        icon=category.icon
        name=category.name
        pack=category.pack
      }}
    {{/if}}
  {{/each}}
  {{#yield-slot 'actions'}}
    {{yield}}
  {{/yield-slot}}
</div>
{{liquid-modal}}
