<div class='nav-section'>
  <div {{action goBack}} class='nav-section-header' style={{borderBottomBinding}} role="button">
    <div class='pointer'>
      {{frost-icon
        hook=(concat hookPrefix '-actions-icon')
        hookQualifiers=hookQualifiers
        class="actions-icon"
        icon='chevron'
      }}
      <div class='title'>{{section.title}} actions</div>
    </div>
  </div>
  {{#each section.actions as |item index|}}
    {{! TODO: update below to use hookQualifiers with index instead of putting it on hook }}
    {{nav-action
      hook=(concat hookPrefix '-' index)
      hookQualifiers=hookQualifiers
      item=item
    }}
  {{/each}}
</div>
