<div class='nav-section'>
  <div
    {{action onGoBack}}
    class='nav-section-header'
    data-test={{hook (concat hookPrefix '-header') hookQualifiers}}
    role='button'
    style={{borderBottomBinding}}
  >
    <div class='pointer'>
      {{frost-icon
        class="actions-icon"
        hook=(concat hookPrefix '-actionsIcon')
        hookQualifiers=hookQualifiers
        icon='chevron'
      }}
      <div class='title'>{{section.title}} actions</div>
    </div>
  </div>
  {{#each section.actions as |item index|}}
    {{nav-action
      hook=(concat hookPrefix '-action')
      hookQualifiers=(extend hookQualifiers actionIndex=index)
      item=item
    }}
  {{/each}}
</div>
