<div class='nav-section-header' style={{lineStyle}}>
  {{section.title}}
  {{#if section.actions}}
    <div
      {{action onSetView section}}
      class='nav-section-actions-link'
      role='button'
    >
      <div class='sub'>Actions</div>
      {{frost-icon
        class='actions-icon flip'
        hook=(concat hookPrefix '-sectionActionsIcon')
        hookQualifiers=hookQualifiers
        icon='chevron'
      }}
    </div>
  {{/if}}
</div>
<div class='body'>
  {{#each section.routes as |item index|}}
    {{#if item.action}}
      {{nav-action
        hook=(concat hookPrefix '-action')
        hookQualifiers=(extend hookQualifiers actionIndex=index)
        item=item
      }}
    {{else}}
      {{nav-route
        hook=(concat hookPrefix '-route')
        hookQualifiers=(extend hookQualifiers routeIndex=index)
        options=item
      }}
    {{/if}}
  {{/each}}
</div>
{{yield}}
