<div class='nav-section'>
  <div {{action 'back'}} class='nav-section-header' style={{borderBottomBinding}}>
    <div class='pointer'>
      <div style={{colorBinding}}>
        {{frost-icon class="actions-icon" icon='chevron'}}
      </div>
      <div class='title'>{{section.title}}'s actions</div>
    </div>
  </div>
  {{#each section.actions as |item index|}}
    {{nav-action
      item=item
      hook=(concat hook '-action-' index)
    }}
  {{/each}}
</div>
