{{#if activeCategory}}
  {{#liquid-unless showActions class='actionSlide'}}
    {{#each columns as |column|}}
      <div class='nav-column'>
        {{#each column as |section|}}
          <div class='nav-section'>
            <div class='nav-section-header' style='
              border-bottom-color: {{section.color}};
            '>
              {{section.title}}
              {{#if section.actions}}
                <div class='nav-section-actions' {{action 'showMore' section}}>
                  <div class='sub'>Actions</div>
                  <div style='display:inline-block;color: {{section.color}}'>
                    {{frost-icon class='actions-icon flip' icon='chevron'}}
                  </div>
                </div>
              {{/if}}
            </div>
            <div class='body'>
              {{#each section.routes as |route|}}
                {{nav-route
                  description=route.description
                  icon=route.icon
                  pack=route.pack
                  name=route.name
                  route=route.route
                }}
              {{/each}}
              {{#each section.links as |link|}}
                <a class='frost-link nav-route' href='{{link.url}}' target="_blank">
                  <div class='nav-route-icon'>
                    {{frost-icon pack=link.pack icon=link.icon}}
                  </div>
                  <div>
                    <div class='nav-route-name'>
                      {{link.name}}
                    </div>
                    <div class='nav-route-description'>
                      {{link.description}}
                    </div>
                  </div>
                </a>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    {{nav-section-action section=content goBack=(action 'goBack')}}
  {{/liquid-unless}}
{{/if}}
