{{#if route}}
  {{#frost-link
    hook=(concat hookPrefix '-link')
    hookQualifiers=hookQualifiers
    options=(hash
      route=route
      routeModels=routeModels
      routeQueryParams=routeQueryParams
    )
  }}
    <div class='content'>
      <div class='nav-route-icon'>
        {{#if icon}}
          {{frost-icon
            hook=(concat hookPrefix '-link-icon')
            hookQualifiers=hookQualifiers
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div class='nav-route-name'>
          {{name}}
        </div>
        <div class='nav-route-description'>
          {{description}}
        </div>
      </div>
    </div>
  {{/frost-link}}
{{else}}
  <a
    class='frost-link'
    href='{{url}}'
    target="{{if tabbed '_blank'}}"
    data-test={{hook (concat hookPrefix '-link') hookQualifiers=hookQualifiers}}>
    <div class='content'>
      <div class='nav-route-icon'>
        {{#if icon}}
          {{frost-icon
            hook=(concat hookPrefix '-link-icon')
            hookQualifiers=hookQualifiers
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div class='nav-route-name'>
          {{name}}
        </div>
        <div class='nav-route-description'>
          {{description}}
        </div>
      </div>
    </div>
  </a>
{{/if}}
