{{#if route}}
  {{#frost-link
    hook=(concat hookPrefix '-link')
    hookQualifiers=hookQualifiers
    options=(hash
      route=route
      routeModels=routeModels
      routeQueryParams=routeQueryParams
    )
  }}
    <div class='content'>
      <div
        class='nav-route-icon'
        data-test={{hook (concat hookPrefix '-linkIconWrapper') hookQualifiers}}
      >
        {{#if icon}}
          {{frost-icon
            hook=(concat hookPrefix '-linkIcon')
            hookQualifiers=hookQualifiers
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div
          class='nav-route-name'
          data-test={{hook (concat hookPrefix '-name') hookQualifiers}}
        >
          {{name}}
        </div>
        <div
          class='nav-route-description'
          data-test={{hook (concat hookPrefix '-description') hookQualifiers}}
        >
          {{description}}
        </div>
      </div>
    </div>
  {{/frost-link}}
{{else}}
  <a
    class='frost-link'
    data-test={{hook (concat hookPrefix '-link') hookQualifiers=hookQualifiers}}>
    href='{{url}}'
    target="{{if tabbed '_blank'}}"
    <div class='content'>
      <div
        class='nav-route-icon'
        data-test={{hook (concat hookPrefix '-linkIconWrapper') hookQualifiers}}
      >
        {{#if icon}}
          {{frost-icon
            hook=(concat hookPrefix '-linkIcon')
            hookQualifiers=hookQualifiers
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div
          class='nav-route-name'
          data-test={{hook (concat hookPrefix '-linkName') hookQualifiers}}
        >
          {{name}}
        </div>
        <div
          class='nav-route-description'
          data-test={{hook (concat hookPrefix '-linkDescription') hookQualifiers}}
        >
          {{description}}
        </div>
      </div>
    </div>
  </a>
{{/if}}
