<div class='nav-section-header' style={{lineStyle}}>
  {{section.title}}
  {{#if section.actions}}
    <div class='nav-section-actions' {{action setView section}}>
      <div class='sub'>Actions</div>
      {{frost-icon class='actions-icon flip' icon='chevron'}}
    </div>
  {{/if}}
</div>
<div class='body'>
  {{#each section.routes as |item index|}}
    {{#if item.action}}
      {{nav-action
        item=item
        hook=(concat hook '-action-' index)
      }}
    {{else}}
      {{nav-route
        description=item.description
        icon=item.icon
        pack=item.pack
        name=item.name
        route=item.route
        url=item.url
        tabbed=item.tabbed
        isVisible=item.isVisible
        hook=(concat hook '-route-' index)
      }}
    {{/if}}
  {{/each}}
</div>
{{yield}}
