<div class='nav-section-header' style={{lineStyle}}>
  {{section.title}}
  {{#if section.actions}}
    <div class='nav-section-actions-link' {{action setView section}}>
      <div class='sub'>Actions</div>
      {{frost-icon
        hook=(concat hook '-section-actions-icon')
        class='actions-icon flip'
        icon='chevron'
      }}
    </div>
  {{/if}}
</div>
<div class='body'>
  {{#each section.routes as |item index|}}
    {{#if item.action}}
      {{nav-action
        item=item
        hook=(concat hook '-action-' index)
      }}
    {{else}}
      {{nav-route
        options=item
        hook=(concat hook '-route-' index)
      }}
    {{/if}}
  {{/each}}
</div>
{{yield}}
