{{#each columns as |column|}}
  <div class='nav-column'>
    {{#each column as |section|}}
      <div class='nav-section'>
        <div class='nav-section-header' style='
          border-bottom-color: {{section.color}};
        '>
          <div>
            {{section.title}}
          </div>
          <div class='nav-section-actions'>
            {{nav-section-menu}}
            {{#nav-section-action}}
              Provision...
            {{/nav-section-action}}
          </div>
        </div>
        <div class='body'>
          {{#liquid-bind section.routes as |routes|}}
            {{#each routes as |route|}}
              {{log route.icon}}
              {{#liquid-if true class='nav-item'}}
              {{#frost-link route.route}}
                {{nav-route
                  description=route.description
                  icon=route.icon
                  pack='dummy'
                  name=route.name
                }}
              {{/frost-link}}
              {{/liquid-if}}
            {{/each}}
          {{/liquid-bind}}

        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
