{{#if route}}
  {{#frost-link
      route
      (hash isQueryParams=true values=params)
      hook=(concat hook '-link')
  }}
    <div class='content'>
      <div class='nav-route-icon'>
        {{#if icon}}
          {{frost-icon
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div class='nav-route-name'>
          {{name}}
        </div>
        <div class='nav-route-description'>
          {{description}}
        </div>
      </div>
    </div>
  {{/frost-link}}
{{else}}
  <a
    class='frost-link'
    href='{{url}}'
    target="{{if tabbed '_blank'}}"
    data-test={{hook (concat hook '-link')}}>
    <div class='content'>
      <div class='nav-route-icon'>
        {{#if icon}}
          {{frost-icon
            pack=pack
            icon=icon
          }}
        {{/if}}
      </div>
      <div>
        <div class='nav-route-name'>
          {{name}}
        </div>
        <div class='nav-route-description'>
          {{description}}
        </div>
      </div>
    </div>
  </a>
{{/if}}
