<div class='nav-section'>
  <div {{action goBack}} class='nav-section-header' style={{borderBottomBinding}}>
    <div class='pointer'>
      {{frost-icon
        hook=(concat hook '-actions-icon')
        class="actions-icon"
        icon='chevron'
      }}
      <div class='title'>{{section.title}} actions</div>
    </div>
  </div>
  {{#each section.actions as |item index|}}
    {{nav-action
      item=item
      hook=(concat hook '-' index)
    }}
  {{/each}}
</div>
