<div class='frost-application-bar dummy-nav'>
  {{#frost-link 'demo.dashboard' class='branding'}}
    {{frost-icon icon='pinpoint/nav/logo'}}
  {{/frost-link}}

  {{frost-button
    class='navigation'
    icon='pinpoint/nav/fiberplant'
    onClick=(action 'openFiberplantNav')
    priority=""
    size=""
    text='Fiberplant'
  }}

  {{frost-button
    class='navigation'
    icon='pinpoint/nav/admin'
    onClick=(action 'openAdminNav')
    priority=""
    size=""
    text='Administration'
  }}

  {{frost-button
    class='icon user'
    icon='pinpoint/nav/user'
    priority=""
    size=""}}

</div>

{{liquid-modal}}

<div class='dummy-content'>
  {{outlet}}
</div>
