<div class='page-content'>
  <div class='item'>
    <h3>Click me</h3>

    {{frost-button
      icon='add'
      priority='primary'
      size='small'
      hook='my-incrementer'
      onClick=(action 'incrementCount')
    }}
    {{count}}
  </div>
  <div class='row'>
    <div class='item'>
      <h3>Router</h3>
      {{code-snippet name='router.js'}}
    </div>
    <div class='item'>
      <h3>Controller</h3>
      {{code-snippet name='controller.js'}}
    </div>
  </div>
  <div class='row'>
    <div class='item'>
      <h3>Template</h3>
      {{code-snippet name='template.hbs'}}
    </div>
    <div class='item'>
      <h3>Outlet</h3>
      {{outlet}}
    </div>
  </div>
</div>
